body {
    background-color: #e6e4d8;
    background-image: url("background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
  }


  .div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
    
}


img{
    transition: transform .2s;

}
img:hover{
    transform:scale(20.5);
}

.div-img1 {
    margin-left: 1070px;
    margin-top: 149px;
}

.div-img2 {
    margin-left:16px;
    margin-top: -30px;

}
.div-img3 {
    margin-left: -18px;
    margin-top: 3px;
}
.div-img4 {
    margin-left:17px;
    margin-top: -30px;
}
.div-img5 {
    margin-left:-17px;
    margin-top: 3px;
}
.div-img6 {
    margin-left:17px;
    margin-top: -29px;
}
.div-img7 {
    margin-left:-33px;
    margin-top: 4px;
}
.div-img8 {
    margin-left: -8px;
    margin-top: 4px;
}
.div-img9 {
    margin-left:30px;
    margin-top: 70px;
}
.div-img10 {
    margin-left:20px;
    margin-top: 18px;
}
.div-img11 {
    margin-left:-430px;
    margin-top: 598px;
}

.button1 {
    background-color:#141414;
    color:#B8B8B8;
    border-radius: 12px;
    padding: 32px 16px;
    font-size: 15px;
    font-family: 'Aldrich', sans-serif;
    float: right;
    margin-top: -1030px;
    }
    .button2 {
        background-color:#231b16;
        color:#9c6240;
        border-radius: 12px;
        padding: 32px 55px;    
        font-size: 15px;
        font-family: 'Aldrich', sans-serif;
        float: right;
        margin-top: -900px;
    }