body {
    background-color: #4e4e4e;
  }
  img {
    max-width: 100%;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #D6D6D6;

    
  }
  
  .flex-container > div {
    width: 150px;
    height: 60px;
    margin: 5px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .place-1 {
    background-color: #B8B8B8;
    color: #141414;
   } 
   .place-2 {
    background-color: #C2C2C2;
    color: #333333;
   }
   .place-3 {
    background-color: #D6D6D6;
    color: #4e4e4e;
   }
   .place-4 {
    background-color: #EBEBEB;
    color: #707070;
   }
   .place-5 {
    background-color: #F5F5F5;
    color: #989898;
   }
   .place-6 {
    background-color: #FFFFFF;
    color: #adadad;
   }
   .place-7 {
    background-color: #adadad;
    color: #FFFFFF;
   }
   .place-8 {
    background-color: #989898;
    color: #F5F5F5;
   }
   .place-9 {
    background-color: #707070;
    color: #EBEBEB;
   }
   .place-10 {
    background-color: #4e4e4e;
    color: #D6D6D6;
   }
   .place-11 {
    background-color: #333333;
    color: #C2C2C2;
   }
   .place-12 {
    background-color: #141414;
    color: #B8B8B8;
   }
.title {
  background-color: #D6D6D6;
  color: #4e4e4e;
  font-family: 'Aldrich', sans-serif;
  font-size: 48px;
  width:220px;
  height: 50px;
  margin-top: 50px;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 80px;
  
}

  .row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column .frame {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
   margin-left: 90%;
   position: relative;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(78, 78, 78, .8);
    opacity: 0;
    transition: opacity 500ms;
    padding-left: 2px;
    padding-top: 10px;
    font-family: 'Aldrich', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #D6D6D6;
  }
  .frame:hover .caption{
    opacity: 1;
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}