body {
    background-color: #a4a49c;
  }
  img {
    max-width: 100%;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #604b37;

    
  }
  
  .flex-container > div {
    width: 150px;
    height: 60px;
    margin: 5px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .place-1 {
    background-color: #9c6240;
    color: #231b16;
   } 
   .place-2 {
    background-color: #552f13;
    color: #1c1d12;
   }
   .place-3 {
    background-color: #a4a49c;
    color: #604b37;
   }
   .place-4 {
    background-color: #975b2b;
    color: #af8e72;
   }
   .place-5 {
    background-color: #536878;
    color: #dacabc;
   }
   .place-6 {
    background-color: #4f5248;
    color: #858764;
   }
   .place-7 {
    background-color: #858764;
    color: #4f5248;
   }
   .place-8 {
    background-color: #dacabc;
    color: #536878;
   }
   .place-9 {
    background-color: #af8e72;
    color: #975b2b;
   }
   .place-10 {
    background-color: #604b37;
    color: #a4a49c;
   }
   .place-11 {
    background-color: #1c1d12;
    color: #552f13;
   }
   .place-12 {
    background-color: #231b16;
    color: #9c6240;
   }
.title {
  background-color: #604b37;
  color: #a4a49c;
  font-family: 'Aldrich', sans-serif;
  font-size: 48px;
  width:1000px;
  height: 50px;
  margin-top: 50px;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  
}

  .row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column .frame {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
   margin-left: 90%;
   position: relative;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(164, 164, 156, .8);
    opacity: 0;
    transition: opacity 500ms;
    padding-left: 2px;
    padding-top: 10px;
    font-family: 'Aldrich', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #604b37;
  }
  .frame:hover .caption{
    opacity: 1;
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}